#login_sceen {
    -fx-background-color: #2a2e37;
}

#login_title {
    -fx-font-size: 3em;
    -fx-background-color: transparent;
    -fx-text-fill: #00ff00;
}

#login_button {
    -fx-font-size: 1.5em;
    -fx-border-width: 3px;
    /* -fx-background-radius: 1200px; */
    -fx-font-weight: bold;
    -fx-padding:10px;
    -fx-cursor:hand;
}

.buttonType{
    -fx-cursor:hand;
    -fx-font-weight:bold;
}

.buttonType:hover{
        -fx-border-color:#00ff00;
        -fx-border-width:2px;
}

.login_data {
    -fx-text-fill: #00ff00;
    -fx-font-size: 2em;
}

#error_box {
    -fx-text-fill: #ff0000;
}

.table-row-cell:even {
    /* -fx-background-color: -fx-table-cell-border-color, #00ff00; */
    -fx-background-color: #202932;
}

.table-row-cell:odd {
    /* -fx-background-color: -fx-table-cell-border-color, #00ff00; */
    -fx-background-color: #2c3845;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-view .table-column {
    -fx-alignment: center;
    /* -fx-table-cell-border-color: #00ff00; */
}

.table-view .column-header {
    -fx-background-color: #2c3845;
    -fx-border-color: white;
}

.table-view .column-header-background .label {
    -fx-text-fill: #00ff00;
}

#pane {
    -fx-background-color: #8fbc8f;
}

#product_windows {
    -fx-background-color: #2c3845;
}

.text-field:focused{
    -fx-border-width:2px;
    -fx-border-color:#00ff00;
}

.text-field{
    -fx-font-weight:bold;
    -fx-font-size:14px;

}

.label{
    -fx-text-fill:#00ff00;
}

#descriptionField, #linkField{
    -fx-pref-width:35em;
}

.table-row-cell:selected {
   -fx-background-color: steelblue;
}